:root{
    --main-font-colour: #dfdfdf   ;
    --main-title-size: 50px ;
    --quick-link-size: 30px ;
    --left-bar-size: 30px ;
    --general-text-size: 25px ;
    --footer-text-size:  ;
}


*{
    color: #DFDFDF;
    background-color: #1F1F1F;
}


/* !!!Header Section Code!!! */

/* Sets desktop header container to flex */
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
/* Pushes all content after main heading to far right */
.header-container h1{
    margin-right: auto;
    color: var(--main-font-colour);
    font-size: var(--main-title-size);
}

/* For modifying the quic link section and removes underline */
.header-container a{
    font-size: var(--quick-link-size);
    text-decoration: none;
}

/* makes header content align better on tablet screens */
@media only screen and (max-width: 768px) {
    .header-container{
        flex-direction: column;
    }
    .header-container h1{
    text-align: center;
    width: 100%;
  }
}
/* fills content to screen on phone sizes */
@media only screen and (max-width: 425px) {
    .header-container .header-container-box{
        width: 100%;
    }
    .header-container{
        text-align: center;
    }
}

/* !!! End of Header Section Code!!!  */




/* About Me */
.main-content-section{
    width: 80%;
    display: flex;
}

h2{
    color: var(--main-font-colour);
    width: 100px;
}

.body-element{

}



/* End of About Me */


/* Projects Section */

/* sets the display types for the overall sections of the website, about me, projects, etc */

/* End of Projects Section */