:root{
    
}

*{

}


/* Header Section Code */
/* Sets desktop header container to flex */
.header-container{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-around;
    align-items: center;

}
/* Pushes all content after main heading to far right */
.header-container h1{
    margin-right: auto;
}

.header-container-box{

}
/* makes header content align better on tablet screens */
@media only screen and (max-width: 768px) {
    .header-container{
        justify-content: flex-start;
    }
    .header-container h1{
    width: 100%;
  }
}
/* fills content to screen on phone sizes */
@media only screen and (max-width: 425px) {
    .header-container .header-container-box{
        width: 100%;
    }
    .header-container{
        text-align: center;
    }
}
/* End of Header Section Code */


/* Projects Section */
.projects-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: blueviolet;
}

.left-bar-projects{
    width: 10%;
    height: 100%;
    text-align: end;
    margin-right: 15px;
}

img{
    object-fit: cover;
}

.projects{
    width: 150px;
    height: 150px;
}

.projects-first{
    width: 300px;
    height: 300px;
}

.projects-container:first-child{
      width: 300px;
      height: 300px;
      border-style: solid black; 
}

@media only screen and (max-width 768px){
    .left-bar-projects{
        display: none;
    }
}
/* End of Projects Section */